option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "sample_app.settings.prod"
    PYTHONPATH: "/opt/python/current/app/sample_app:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "sample_app/sample_app/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "sample_app/static/"

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python sample_app/manage.py migrate --noinput"
    leader_only: true

  02_setup_superuser:
    command: "source /opt/python/run/venv/bin/activate && python sample_app/setup_superuser.py"
    leader_only: true

  10_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python sample_app/manage.py collectstatic --noinput"

  
